{% extends "AppMuebles/padre.html" %}

{% block titulo %} Un poco sobre mi {% endblock %}

{% block contenido1 %}
    Me llamo Santiago, tengo 21 años y con la programación arranque hace mas de un año haciendo cursos como Desarrollo Web, JavaScript 2 veces, React js (por ahora todo Front End), actualmente me encuentro trabajando en una fabrica automotriz de 6am a 15pm y estudiando un curso de fullstack en la UTN, por eso mismo no me mate en hacer un re trabajo porque estoy a full jajaja. Me encantaría ejercer programación es algo que me gusta mucho y se me facilita al momento de aprender (lo mejor es cuando arreglo un error que me cuesta orrores en correjir, un alivio). La pagína iba a hacer de muebles por eso el "AppMuebles" pero cambie de opinion sobre la marcha para no complicarme mucho y no atrasarme en ningun curso sepan entendes y mil perdones🙏🏻. 
{% endblock %}